<div class="movie__meta">
    <dl>
        <dt>Released</dt>
        <dd>{{ meta.released }}</dd>

        <dt>Runtime</dt>
        <dd>{{ meta.runtime }}</dd>

        <dt>Director</dt>
        <dd>{{ meta.director }}</dd>

        <dt>Writer</dt>
        <dd>{{ meta.writer }}</dd>

        <dt>Genre</dt>
        <dd>{{ meta.genre }}</dd>
    </dl>
</div>
