<div class="movie">
  <div class="movie__inner">

    <div class="movie__header">
      <div class="movie__intro">
        <h3 class="movie__title">{{titlecase movie.title }}</h3>
        <p class="date movie__watched">Last watched: <em>{{date '' }}</em></p>
      </div>
      {{ render '@movie__rating' movie }}
    </div>

    {{ render '@movie__meta' movie merge=true }}

    <div class="movie__summary">
      <p>{{ movie.desc }}</p>
    </div>

    {{ render '@movie__review' }}
  </div>
</div>
