{{ render '@header' }}

<main>
    {{ render '@blurb--large' }}

    <h2 class="text-3xl mt-8 text-center">Latest Movies Watched…</h2>
    {{ render '@movie-listing' }}

    <h2 class="text-3xl mt-6 text-center">Latest Posts…</h2>
    {{ render '@blog-listing' }}
</main>

{{ render '@footer' }}
